html {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgba(245,204,23,.5)), to(rgba(243,71,57, .8)));
  background: -webkit-radial-gradient(rgba(245,204,23,.5), rgba(243,71,57, .8));
  background:    -moz-radial-gradient(rgba(245,204,23,.5), rgba(243,71,57, .8));
  background:     -ms-radial-gradient(rgba(245,204,23,.5), rgba(243,71,57, .8));
  background:      -o-radial-gradient(rgba(245,204,23,.5), rgba(243,71,57, .8));
  background:         radial-gradient(rgba(245,204,23,.5), rgba(243,71,57, .8));

}
  body {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  }

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  margin: auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

.question-box {
  margin: 50px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

th {
  text-align: left;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:#2F1900 ;
  z-index: 100;

}

.navbar ul li {
  display: inline;
  padding-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;

  color: white;
}

.navbar ul li a:hover {
  color: rgb(245,204,23);
}

.logout {
  float:right;
  padding-right: 40px;
}

.errors {
  margin-top: 70px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  clear:both;
  color:red;
  position: fixed;
}

.profile_surveys {
  color: white;
  float:left;
  background: #2F1900;
  border-radius: 4px;
  padding: 0 10px 10px 10px;
  margin-right: 15px;
  margin-top: 20px;
}

.profile_surveys ul {
  list-style-type: none;
  padding-left: 0px;

}

.profile_surveys ul li {
  clear:both;
  margin: 1em 0 1em 0;
}

.survey_links {
  padding-left: 0px;
  width: 500px;
  display: inline;
}

.survey_links li {
  display: inline;
  padding-right: 10px;
}

.survey_links li a {
  color: lightGray;
}

.survey {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 7%;
  margin: auto;
  color: white;
  background: #2F1900;
  border-radius: 4px;
  padding: 20px;
}
.survey_name {
  width: 100%;
  color: white;
  background: #2F1900;
  border-radius: 4px;
  padding: 10px;
  margin-top: 60px;
  display: block;
}

.survey_name h2 {
  color: white;
}

.survey_name h4 {
  color: white;
  margin-top:5px;
}

.survey_content {
  margin-top: 10px;
  color: white;
  width: 100%;
  background: #2F1900;
  border-radius: 4px;
  padding: 2px 20px 20px 20px;
}

.survey_question input {
  /*padding-right: 20px;*/
}

.add_inputs {
  background: #2F1900;
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.results_table {
  color: white;
  margin-top: 20px;
  background: #2F1900;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.deets {
  font-size: 24pt;
  margin-top: 100px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/* ################### Slideshow ###################### */
.grass{
    position: absolute;
    z-index: -1;
    bottom: 0;
    background: url("/img/grass.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 250px 150px;
    height: 100%;
    width: 300%;
    opacity:1;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    -ms-filter: grayscale(60%);
    -o-filter: grayscale(60%);
    -webkit-animation: slideshow 5s linear infinite;
    -moz-animation:    slideshow 5s linear infinite;
}

@-webkit-keyframes slideshow {
    0%   { left: 0; }
    100% { left: -200%;}
}

@-moz-keyframes slideshow {
    0%   { left: 0; }
    100% { left: -200%; }
}

.images {
   -webkit-transform: translate3d(0, 0, 0);
}

@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0);  
    }    
    100% { 
        -webkit-transform: translateX(-200%);  
    }
} 
@-moz-keyframes moveSlideshow {
    0%   { 
        -moz-transform:    translateX(0); 
    }    
    100% { 
        -moz-transform:    translateX(-200%); 
    }
}

.overflow {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  vertical-align: bottom;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.inneroverflow {
  min-height: 100%;
  height: 100%;
  z-index: 1;
}

#gazelle {
  margin: 0 auto;
  display: block;
  top: 50%;
  margin-top: -266px;
  left: 50%;
  margin-left: -300px;
  position: absolute;
}

#title {
  font-weight: bold;
  position: absolute;
  font-size: 80px;
  color: #2F1900;
  text-shadow: -2px 0 white, 0 2px white,
      2px 0 white, 0 -2px white;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  margin-top: 186px;
  z-index: -2;
}

.login form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -75px;
}

.login form input {
  display: block;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.login form input:last-child {
  background-color: #977044;
  color: white;
}

.surveylist {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -100px;
}

.survey input {
  display: block;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.button {
  display: block;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  background-color: #977044;
  color: white;
}
