html {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}
  body {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  /*background-image:url('fur3.jpeg');*/
  /*background-repeat: no-repeat;*/
  background-color: #DBDBDC;
}

.container {
  margin: 50px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

#title {
  font-weight: bold;
  position: absolute;
  font-size: 80px;
  text-align: vertical;
  padding-left: 22px;
  color: #504060;
  text-shadow: -2px 0 white, 0 2px white,
      2px 0 white, 0 -2px white;
}

.question-box {
  margin: 50px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:#504060 ;

}

.navbar ul li {
  display: inline;
  padding-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;

  color: white;
}

.navbar ul li a:hover {
  color: lightGray;
}

.logout {
  float:right;
  padding-right: 40px;
}

.created_surveys ul {
  list-style-type: none;
  clear:both;

}

.created_surveys ul li {
  float: left;
  padding-right: 10px;
}

.survey {
  margin-top: 150px;
  background: #8D8B5F;
  border-radius: 4px;
  padding: 20px;
}
.survey_name {
  margin-top: 100px;
  background: #8D8B5F;
  border-radius: 4px;
}

.survey_name h2 {
  margin-bottom: 5px;
}

.survey_name h4 {
  margin-top:5px;
}

.survey_content {
  margin-top: 50px;
  background: #8D8B5F;
  border-radius: 4px;
  padding: 2px 20px 20px 20px;
}

.survey_question input {
  /*padding-right: 20px;*/
}

.add_inputs {
  margin-top: 20px;
  background: #8D8B5F;
  border-radius: 4px;
  padding: 10px;

}

.results_table {
  margin-top: 20px;
  background: #8D8B5F;
  border-radius: 4px;
  padding: 10px;
}

.deets {
  font-size: 24pt;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/* ################### Slideshow ###################### */

.slideshow {
}

.grass{
    position: absolute;
    z-index: -1;
    bottom: 0;
    background: url("/img/grass.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 250px 150px;
    height: 100%;
    width: 300%;
    opacity: 0.40;
    -webkit-animation: slideshow 5s linear infinite;
    -moz-animation:    slideshow 5s linear infinite;
}

@-webkit-keyframes slideshow {
    0%   { left: 0; }
    100% { left: -200%;}
}

@-moz-keyframes slideshow {
    0%   { left: 0; }
    100% { left: -200%; }
}

.images {
   -webkit-transform: translate3d(0, 0, 0);
}

@-webkit-keyframes moveSlideshow {
    0%   { 
        -webkit-transform: translateX(0);  
    }    
    100% { 
        -webkit-transform: translateX(-200%);  
    }
} 
@-moz-keyframes moveSlideshow {
    0%   { 
        -moz-transform:    translateX(0); 
    }    
    100% { 
        -moz-transform:    translateX(-200%); 
    }
}

.overflow {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.inneroverflow {
  z-index: 0;
}
