<div class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <% if current_user %>
      <li><a href="/user/<%= session[:id] %>/profile">Profile</a></li>
    <% end %>
    <li><a href="/surveys">Surveys</a></li>
    <% if current_user %>
      <li><a href="/user/<%= session[:id] %>/survey/create">Create Survey</a></li>
    <% end %>
    <% unless current_user %>
      <li><a href="/login">Login</a></li>
      <li><a href="/user/create">Create Account</a></li>
    <% end %>
    <% if current_user %>
      <li><a href="/logout">Logout</a></li>
    <% end %>
  </ul>  
</div>