<div class="container login">
  <form method="post" action "/user/create">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="Email">
    <input type="password" name="user[password_hash]" placeholder="Password">
    <input type="submit" value="Create Account">
  </form>
</div>
