<div class="container login">
  <form method="post" action "/user/create">
    <input type="text" name="user[username]" placeholder="username">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password_hash]" placeholder="password">
    <input type="submit" value="Create Account">
  </form>
</div>
