<div class="container">
  <form method="post" action "/user/create">
    <input type="text" name="user[username]">
    <input type="text" name="user[email]">
    <input type="text" name="user[password_hash]">
    <input type="submit" value="Create Account">
  </form>
</div>