<div class="overflow">
  <div class="inneroverflow">
    <div class='slideshow'>
      <div class='grass'>
      </div>
    </div>
    <img id="gazelle" src="/css/gazelle_power.png" alt="monkey riding a gazellwith spear">
    <span id="title">Survey Gazelle</span>
  </div>
</div>
